@import "dmvendor.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .article {
        @apply prose lg:prose-xl;
        @apply p-4 mt-6 lg:mt-8 m-auto lg:max-w-3xl;
    }

}

.dank {
    font-family: dm, monospace;
}

/* Page Transitions */

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}
